[submodule "boundaries-collection"]
	path = boundaries-collection
	url = https://github.com/digital-land/boundaries-collection.git
[submodule "brownfield-land-collection"]
	path = brownfield-land-collection
	url = https://github.com/digital-land/brownfield-land-collection.git
[submodule "organisation-dataset"]
	path = organisation-dataset
	url = https://github.com/digital-land/organisation-dataset.git
[submodule "dataset-collection"]
	path = dataset-collection
	url = https://github.com/digital-land/dataset-collection.git
