{% macro styles() %}
  <link rel="stylesheet" href="/map-templates/map.css" crossorigin="" />
{% endmacro %}

{% macro scripts(boundaries, points) %}
  {% if boundaries %}
    <script>
      var boundaries = {{ boundaries }}
    </script>
  {% endif %}
  {%- if points -%}
    <script>
      var points = {{ points }}
    </script>
  {% endif %}
  <script src="/map-templates/map.js"></script>
{% endmacro %}

{% macro html() %}
  <div id="map">
    <noscript class="govuk-body">To view this map, you need to enable JavaScript.</noscript>
  </div>
{% endmacro %}
