{% import './macro.njk' as mapMacro %}
{{- mapMacro.styles() -}}
{{- mapMacro.html() -}}
{%- if points -%}
  {{- mapMacro.scripts(boundaries | dump | safe, points | dump | safe) -}}
{%- else -%}
  {{- mapMacro.scripts(boundaries | dump | safe) -}}
{%- endif -%}