<link rel="stylesheet" href="/map-templates/map.css" crossorigin="" />

<div id="map">
  <noscript>To view this map, you need to enable JavaScript.</noscript>
</div>

{% if boundaries %}
  <script>
    var boundaries = {{ boundaries | dump | safe }}
  </script>
{% endif %}

<script src="/map-templates/map.js"></script>
